
/* Color for headings and buttons*/
body {
    background-color: #000000;
}

h2 {
    color: #114382;
    font-size: 36px;
}
.bg-light {
    background-color: #d6e6fc !important;
}
.btn-primary {
    background-color: #4038db;
    border-color: #0e3670;
}
.btn-primary:hover{
    background-color: #0e3670;
    border-color: #0a2547;
}
.btn-secondary {
    background-color: #114382;
}
.btn-secondary:hover {
    background-color: #417ecf;
}
.btn-outline-primary {
    color: #ffffff;
    background-color: #1e65a9;
    border-color: #114382;
}
.btn-outline-primary:hover {
    color: #000000;
    background-color: #b7e3f9;
    border-color: #0e3670;
}
.btn-outline-secondary {
    color: #ffffff;
    background-color: #06229e;
    border-color: #06229e;
}
.btn-outline-secondary:hover {
    color: #000000;
    background-color: #aac3fd;
    border-color: #aac3fd;
}
/* Table design */
.table {
    background-color: #cfeefd;
    border-color: #14597b;
}
.table th {
    background-color: #114382;
    color: #ffffff;
}
p {
    font-size: 28px;
    font-weight: bold;
    color: #79b1e6;
}
.dl-horizontal dt {
    white-space: normal;
}
/* Card design */
.card {
    background-color: #d6e6fc;
    border-color: #114382;
}
.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-text {
    color: black;
}

.create-boardgame label {
    color: #98F5F9;
}